<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>

    <title>Simia</title>
  </head>
  <body id="app">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <span class="navbar-brand mb-0 h1">Simia</span>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h1 class="mt-3">Tasks</h1>

        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary mb-3"
            data-bs-toggle="modal"
            data-bs-target="#modal-task"
          >
            New Task
          </button>
        </div>

        <div class="col-12">
          <div class="accordion" id="task-list">
            <div class="accordion-item" v-for="task in tasks">
              <h2 class="accordion-header" :id="`task-${task.id}-heading`">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  :data-bs-target="`#task-${task.id}-collapse`"
                  aria-expanded="false"
                  :aria-controls="`task-${task.id}-collapse`"
                >
                  {{ task.name }}
                </button>
              </h2>
              <div
                :id="`task-${task.id}-collapse`"
                class="accordion-collapse collapse"
                :aria-labelledby="`task-${task.id}-heading`"
                data-bs-parent="#task-list"
              >
                <div class="accordion-body">{{ task.desc }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modal-task"
      tabindex="-1"
      aria-labelledby="modal-task-label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-task-label">Task</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="form-task-name" class="form-label">Task name</label>
              <input
                type="text"
                class="form-control"
                id="form-task-name"
                placeholder="Add a task"
                v-model="inputTaskName"
              />
            </div>
            <div class="mb-3">
              <label for="form-task-desc" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="form-task-desc"
                rows="3"
                v-model="inputTaskDesc"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              @click="addTask"
              :data-bs-dismiss="taskValid ? 'modal' : ''"
            >
              Add task
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
